/* ==============================================
   FEUILLE DE STYLES DES GABARITS HTML/CSS
   © Elephorm & Alsacreations.com
   Conditions d'utilisation:
   http://creativecommons.org/licenses/by/2.0/fr/
   ============================================== */

/* --- STYLES DE BASE POUR LE TEXTE ET LES PRINCIPAUX ÉLÉMENTS --- */

/* Page */
html {
	font-size: 100%; /* Voir -> Note 1 à la fin de la feuille de styles. */
}
body {
	margin: 0;
	padding: 10px 20px; /* Note -> 2 */
	font-family: Verdana, "Bitstream Vera Sans", "Lucida Grande", sans-serif; /* 3 */
	font-size: .8em; /* -> 4 */
	line-height: 1.25; /* -> 5 */
	color: black;
	background: #d3d3d3 ;
}

/* Titres */
h1, h2, h3, h4, h5, h6 {
	margin: 1em 0 .5em 0; /* -> 6 */
}
h1, h2 {
	font-family: Georgia, "Bitstream Vera Serif", Norasi, serif;
	font-weight: normal; /* -> 7 */
}
h1 {
	font-size: 3em; /* -> 8 */
	font-style: italic;
}
h2 {font-size: 1.8em;}
h3 {font-size: 1.2em;}
h4 {font-size: 1em;}

/* Listes */
ul, ol {
	margin: .75em 0 .75em 24px;
	padding: 0; /* -> 9 */
}
ul {
	list-style: square;
}
li {
	margin: 0;
	padding: 0;
}

/* Paragraphes */
p {
	margin: .75em 0;
  text-indent:40px
}
li p, blockquote p {
	margin: .5em 0;
}

/* Citations */
blockquote, q {
	font-size: 1.1em;
	font-style: italic;
	font-family: Georgia, "Bitstream Vera Serif", Norasi, serif;
}
blockquote {
	margin: .75em 0 .75em 24px;
}
cite {
	font-style: italic;
}

/* Liens */
a {
	text-decoration: underline;
}

a img {
	border: none; /* -> 10 */
}

/* Divers éléments de type en-ligne */
em {
	font-style: italic;
}
strong {
	font-weight: bold;
}


/* --- STYLES POUR CERTAINS CONTENUS DES GABARITS --- */

pre, code {
	font-size: 100%;
	font-family: "Bitstream Vera Mono", "Lucida Console", "Courier New", monospace;
}
pre {
	width: 90%;
	overflow: auto;
	margin: .75em 0;
	padding: 12px;
	background: #eee;
	color: #555;
}
pre strong {
	font-weight: normal;
	color: black;
}
#copyright {
	margin: 20px 0 5px 0;
	text-align: right;
	font-size: .8em;
	color: #848F63;
}
#copyright a {
	color: #848F63;
	text-decoration: none;
}
#copyright a:hover, #copyright a:focus {
	text-decoration: underline;
}


/* --- NOTES ---

1.	Ce "font-size: 100%" est normalement inutile. On l'utilise uniquement
	pour éviter un bug de redimensionnement du texte dans Internet Explorer.

2.	Par défaut, les navigateurs ont un padding (ou, pour certains, un
	margin) de 6px pour l'élément BODY. C'est ce qui évite que le texte
	ne soit complètement collé aux bords de la zone de visualisation du
	navigateur lorsqu'on affiche une page «brute», sans mise en forme.
	Mais ce retrait de 6px est un peu faiblard: on le renforce donc.
	Notez bien que les feuilles de styles des gabarits pourront augmenter
	ce retrait, ou bien l'annuler.
	
3.	Voici quelques exemples de collections cohérentes de fontes (propriété
	CSS "font-family"):
	font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-family: Georgia, "Bitstream Vera Serif", Norasi, serif;
	font-family: "Times New Roman", Times, "Nimbus Roman No9 L", serif;
		
4.	Taille du texte de base de la page. Dépend de la taille du texte par
	défaut du navigateur (souvent 16px), et des réglages de l'utilisateur.
	À adapter en fonction de la fonte choisie, et du rendu souhaité.
	En général, on utilisera une valeur de base entre .65em et 1em
	(ou 65% et 100%).

5.	Hauteur de ligne. À adapter en fonction de la fonte choisie, et des
	besoins particuliers (lignes de texte longues ou courtes, titre ou
	corps de texte...).

6.	En général, les styles par défaut des navigateurs font que les marges
	en haut et en bas des titres sont équivalentes. Ici, en diminuant la
	marge du bas, on cherche à rapprocher le titre du contenu qu'il introduit.

7.	Les styles par défaut des navigateurs mettent les titres en gras.
	Si on souhaite passer à des caractères «normaux», on doit utiliser
	font-size: normal.

8.	Pour un élément en "font-size: 3em", la taille du texte sera le triple de
	la taille du texte de l'élément parent.
	À noter: on aurait pu écrire "font-size: 300%" pour le même résultat.

9.	Par défaut, les listes UL et OL ont un retrait à gauche qui peut être,
	suivant les navigateurs:
	- un padding-left de 40px;
	- ou bien un margin-left de 40px.
	On met tout le monde d'accord avec une marge à gauche de 24px, et pas
	de padding.

10.	Les navigateurs donnent souvent aux images placées dans des liens
	une bordure disgracieuse. On annule ce style souvent gênant en appliquant
	un "border: none" aux images qui se trouvent à l'intérieur d'un lien.

*/







/* ==============================================
   FEUILLE DE STYLES DES GABARITS HTML/CSS --- 09
   © Elephorm & Alsacreations.com
   Conditions d'utilisation:
   http://creativecommons.org/licenses/by/2.0/fr/
   ============================================== */


/* --- COULEURS --- */

/* Note: vous pouvez modifier simplement l'aspect de ce gabarit en modifiant
   uniquement les couleurs de fond (propriétés background) et les couleurs
   du texte (propriété color).
   Pour modifier la disposition des blocs, voir plus bas dans la feuille de
   styles la partie «positionnement». */

/* Général */
body {
	color: #F0E39E;
/*	background: #5C5C5C;*/
}
a {
	color: #FF6533;
}
a:hover, a:focus {
	color: #FF4C00;
}
strong {
	color: #A1B55D;
}

/* Navigation */
#navigation {
	background: #1E9DA4;
}
#navigation a {
	color: black;
}
#navigation a:hover, #navigation a:focus {
	background: #2BE6F0;
}
#navigation .active { 
  background:black;
  color:white;
}

#navigation .active:hover { 
  color:white;
}

#entete { 
 background-image: url("images/fond_entete.png");
/*background:white;*/
 }
/* Contenu principal */
#principal {
	color: #181A12;
	background: #b3b3b3 ;
}
#principal a {
	color: #332510;
}
#principal a:hover, #principal a:focus {
	color: #6E5122;
}
#principal strong {
	color: #181A12;
}

/* Contenu secondaire */
#secondaire {
background: #181A12;
  color:#A3A3A3;
text-align: center;
}

#secondaire em { 
font-weight:bold;
font-style: normal;
 }





#principal a {
	color: #332510;
}




/* --- POSITIONNEMENT --- */

/* Page */
body {
	padding: 20px 30px;
}

/* En-tête */
#entete {
  padding: 20px 20px;
  height: 100px;
  color:black;
}
#entete h1 {
  margin: 0;
text-shadow: 5px 5px 3px grey;
/* color:#F0562B;*/
}
#entete h1 img {
	float: left;
	margin: 7px 20px 10px 0;
}
#entete .sous-titre {
  text-align: right;
	margin: 00px 20px 15px 20px;
text-shadow: 5px 5px 3px grey; 
font-size: 2em
}

/* Bloc central */
#centre {
	position: relative; /* Voir -> Note 1 */
	width: 100%;
}

/* Menu de navigation */
#navigation {
	position: absolute; /* -> 1 */
	top: 0px;
	left: 0;
	width: 160px;
    -moz-border-radius: 5px 5px 5px 5px / 5px 5px 5px 5px;  
    -webkit-border-radius:5px 5px 5px 5px / 5px 5px 5px 5px;
    -khtml-border-radius:   5px 5px 5px 5px / 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px / 5px 5px 5px 5px;
}
#navigation ul {
	margin: 0;
	padding: 20px 10px 20px 10px;
	list-style: none;
}
#navigation a {
	display: block;
	height: 1%;
	padding: 6px 10px 6px 10px;
	line-height: 1.5;
	font-size: .9em;
	text-decoration: none;
}




/* Contenu principal */
#principal {
  margin-left: 40px; /* -> 2 */
  margin-right: 40px; /* -> 2 */
  margin-top:20px;
  padding: 10px 20px;
  moz-border-radius: 5px 5px 5px 5px / 5px 5px 5px 5px;  
  webkit-border-radius:5px 5px 5px 5px / 5px 5px 5px 5px;
  khtml-border-radius:   5px 5px 5px 5px / 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px / 5px 5px 5px 5px;
}
#principal > :first-child {
  margin-top: 10px;
}
#principal p, #principal li {
  line-height: 1.5;
}

/* Contenu secondaire */
#secondaire {
  position: absolute; /* -> 1 */
  top: 0;
  right: 0;
  width: 180px;
  padding: 12px 20px;
  moz-border-radius: 5px 5px 5px 5px / 5px 5px 5px 5px;  
  webkit-border-radius:5px 5px 5px 5px / 5px 5px 5px 5px;
  khtml-border-radius:   5px 5px 5px 5px / 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px / 5px 5px 5px 5px;

}

/* Mention de copyright */
#copyright {
  margin: 20px 0;
  font-size: .85em;
  text-align: left;
}


/* --- NOTES ---
   
   1.	On utilise le positionnement relatif sur div#centre afin que ce bloc serve
   de référent à ses descendants positionnés en absolu.
   Dit plus clairement: deux des trois enfants de div#centre, à savoir
   div#navigation et div#secondaire, sont positionnés en absolu. Pour ces deux
   léments, on a utilisé les propriétés CSS top, left et right qui permettent
   d'indiquer des coordonnées de positionnement. Ces coordonnées sont données
   par rapport à un cadre de référence. Quel est ce cadre de référence?
   Par défaut, il s'agit de la zone de visualisation du navigateur (les
   bords de la «fenêtre», donc).
   Ou bien il s'agira du plus proche élément positionné (en absolu, relatif
   ou fixe) parmi les ancêtres de l'élément positionné en absolu.
   Si cette explication n'est pas claire, supprimez ou commentez le
   "position: relative" de div#centre, et observez ce qui se passe. Puis
   rétablissez-le et ajoutez une bordure visible à div#centre (ex:
   "border: 2px solid red;"). Cela devrait être plus clair.
   
   2.	Le bloc de contenu principal (div#principal) est le seul des trois enfants
   de div#centre qui n'est pas positionné en absolu. Ce n'est en effet pas
   nécessaire. Comme div#principal considère que div#navigation et
   div#secondaire, tous deux positionnés en absolu, ne sont «plus là», et ne
   se placera donc pas plus bas dans la page.
   Pour éviter que les colonns latérales ne recouvrent des parties du
   contenu, il nous suffit de donner des marges à gauche et à droite à
   div#principal.
   
   */


#entete{
  moz-border-radius: 5px 5px 5px 5px / 5px 5px 5px 5px;  
  webkit-border-radius:5px 5px 5px 5px / 5px 5px 5px 5px;
  khtml-border-radius:   5px 5px 5px 5px / 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px / 5px 5px 5px 5px;
}


.commentaire{ 
  font-size: 0.7em;
  margin-top:40px;
}

.separation{ 
  padding-bottom:10px; /*Pour séparer le contenu de la bordure du bas du bloc*/
  margin-bottom:15px; /*Pour séparer la bordure du prochain élément*/
  border-bottom: 3px solid black/*Pour faire un trait rouge horizontal*/
}


.presentation{ 
  margin-left: 30px; /* -> 2 */
  margin-right: 30px; /* -> 2 */
  margin-top:20px;
  padding: 10px 20px;
  border:solid black 1px
}



.portrait{
    text-align: center;
 }
 
 
 
 
 
 
 div#galerie
{
  width: 615px ;
  background: #eed ;
  border: 1px solid #dcb ;
  padding: 15px ;
  margin: 15px 30px ;
  text-align: center ;
  font: 0.9em Georgia, serif ;
  height:500px;
}

ul#galerie_mini
{
  margin: 0 ;
  padding: 0 ;
  list-style-type: none ;
}

ul#galerie_mini li
{
  float: left ;
}

ul#galerie_mini li a img
{
  margin: 2px 1px ;
  border: 1px solid #dcb ;
}

dl#photo
{
  clear: both ;
  margin: 0 auto ;
}

dl#photo dt
{
  font: italic 2.5em/1.5em Georgia, serif ;
  color: #dcb ;
}

dl#photo dd
{
  margin: 0 ;
}

dl#photo img
{
  border: 1px solid #dcb ;
}
